
.gamesList {
    margin-top: 10px;
}

.mapnav {
  margin: 0.5em;
}

.gamePanel {
    color: rgb(51, 51, 51);
    margin: 0 auto;
    width: 100%;
}
.memberVotes {
    font-weight: bold;
}
.gamePanelHome {
    border-top: 1px solid rgb(206, 206, 206);
    width: 100%;
}
.boardHeader {
    color: rgb(0, 0, 0);
}
.bar {
    padding: 5px 2%;
}
.gamePanel .bar {
    border: 0 none;
    margin-left: 2%;
    margin-right: 2%;
}
.gamePanel .bar {
    border-left: 1px solid rgb(206, 206, 206);
    border-right: 1px solid rgb(206, 206, 206);
}
.barAlt1, .barAltLight1 {
}
.barAlt2, .barAltLight2 {
}
.homeMembersTable .barAlt1 {
}
.homeMembersTable .barAlt2 {
}
.lastBar {
    height: 0;
    padding: 0;
}
.gamePanel .lastBar {
    border-bottom: 1px solid rgb(206, 206, 206);
}
.gamePanelHome .lastBar {
    border-bottom: 1px solid rgb(206, 206, 206);
}
.titleBar {
}
.titleBarHomeGameName {
    overflow: hidden;
    white-space: nowrap;
}
.titleBarHomeGameName .game {
    text-align: center;
}
.gamePanel .titleBar {
    border-top: 1px solid rgb(206, 206, 206);
}
.boardHeader .titleBar {
    font-size: 13px;
    padding: 8px 16px 6px;
}
.gamePanelHome .titleBar {
    font-size: 12px;
    padding: 4px 2%;
}
.titleBarRightSide {
    float: right;
    text-align: right;
}
.gamePanelHome .titleBarRightSide {
}
.titleBarLeftSide {
    float: left;
}
.gamePanelHome .titleBarLeftSide {
}
.gameName {
    color: rgb(82, 66, 52);
    font-weight: bold;
}
.gamePanel .gameName {
    font-size: 16px;
}
.boardHeader .gameName {
    font-size: 17px;
}
.gamePanelHome .gameName {
    font-size: 12px;
}
.gameDate, .gamePhase {
}
.gameDate {
    font-style: italic;
}
.gamePanelHome .gameDate {
    font-size: 11px;
}
.gamePhase {
    font-style: italic;
    font-weight: bold;
}
.gameTimeRemaining {
    font-weight: bold;
}
.gameTimeRemainingNextPhase {
    font-weight: normal;
}
.gameHoursPerPhase {
}
.gameTimeHoursPerPhaseText {
    font-style: italic;
}
.gameTimeRemainingFixed {
    font-style: italic;
    font-weight: normal;
}
.gamePot {
    font-weight: bold;
}
.gamePotType {
    font-style: italic;
}
div.memberBoardHeader {
    border: 0 none;
    padding: 0 !important;
}
.gameNoticeBar {
    border-top: 1px solid rgb(201, 201, 201) !important;
    font-weight: bold;
    text-align: center;
}
.occupationBarJoined {
    background-color: rgb(164, 196, 153);
}
.occupationBarNotJoined {
    background-color: rgb(196, 143, 133);
}
.occupationBarEngland {
    background-color: rgb(239, 196, 228);
}
.occupationBarAustria {
    background-color: rgb(196, 143, 133);
}
.occupationBarGermany {
    background-color: rgb(160, 138, 117);
}
.occupationBarItaly {
    background-color: rgb(164, 196, 153);
}
.occupationBarFrance {
    background-color: rgb(121, 175, 198);
}
.occupationBarTurkey {
    background-color: rgb(234, 234, 175);
}
.occupationBarRussia {
    background-color: rgb(168, 126, 159);
}
.membersList {
    border-left: 1px solid rgb(193, 193, 193);
    border-right: 1px solid rgb(193, 193, 193);
    color: rgb(68, 68, 68);
    margin-left: 2%;
    margin-right: 2%;
}
.boardHeader .membersList, .gamePanelHome .membersList {
    border: 0 none;
    margin: 0;
}
.chatbox .membersList {
    border: 0 none;
}
.member {
    padding: 3px 2%;
}
.membersList em {
    font-style: italic;
    font-weight: bold;
}
.membersList em.bad {
    color: rgb(211, 97, 97) !important;
}
.membersList em.good {
    color: rgb(124, 206, 95) !important;
}
.memberRightSide {
    padding-right: 3px;
    width: auto;
}
.memberGameDetail {
    float: right;
    font-style: italic;
    text-align: right;
}
.memberUserDetail {
    float: left;
}
.memberLeftSide {
    text-align: right;
    width: 150px;
}
.membersFullTable .memberLeftSide {
    border-right: 1px solid rgb(193, 193, 193);
}
.memberYourCountry {
    font-weight: bold;
}
.memberName {
    white-space: nowrap;
}
.memberStatus {
    font-style: italic;
}
.memberStatus em {
    color: rgb(68, 68, 68);
    font-style: italic;
    font-weight: bold;
}
.memberStatusFade {
    color: rgb(119, 119, 119);
}
.memberStatusWon, .memberStatusDrawn {
    text-decoration: underline;
}
.memberStatusLeft, .memberStatusResigned {
    font-style: italic;
}
.memberStatusDefeated, .memberStatusResigned {
    text-decoration: line-through;
}
.memberStatusHeader {
	border-top: 1px solid #cecece;
	}
.modEyes.bar {
	text-align: center;
	font-weight: bold;
	color: #eaeaea;
	background-color:#225;
}
.modEyes .memberLeftSide {
	border-left: 3px solid #777777;
	background-color:#ddddee;
}
.modEyes .memberPreGameList {
	border-left: 3px solid #777777;
	border-right: 3px solid #777777;
	background-color:#ddddee;
}
.modEyes .memberRightSide{
	border-right: 3px solid #777777;
	background-color:#ddddee;
}
.memberAlternate1 {
    background-color: rgb(234, 234, 234);
}
.memberAlternate2 {
    background-color: rgb(229, 229, 229);
}
.memberPreGameList {
    font-weight: normal !important;
    text-align: center;
}
.panelBarGraph {
    height: 6px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.panelBarGraph {
    border-left: 1px solid rgb(206, 206, 206);
    border-right: 1px solid rgb(206, 206, 206);
    margin: 0 15px;
}
.panelBarGraph td.first {
    border-left: 0 solid rgb(255, 255, 255) !important;
}
.panelBarGraph td {
    border-left: 1px solid rgb(102, 102, 102);
    height: 6px;
}
.barDivBorderTop {
    border-top: 1px solid rgb(193, 193, 193);
}
.barDivBorderBottom {
    border-bottom: 1px solid rgb(193, 193, 193);
}
.memberProgressBar, .memberProgressBarBlank {
    border-top: 1px solid rgb(206, 206, 206);
    margin-top: 3px;
}
.boardHeader .memberProgressBar, .boardHeader .memberProgressBarBlank {
    height: 6px;
    margin-top: 0;
}
.gamePanelHome .panelBarGraph {
    height: 4px;
    margin-top: 0;
}
.memberPointsCount {
    font-style: italic;
}
.memberUnitCount {
    font-style: italic;
}
.memberLastSeen {
    font-style: italic;
}
.missedPhases {
    font-style: italic;
}
.memberProgressBarSCs {
    background-color: rgb(121, 175, 198);
}
.memberProgressBarUnitDeficit {
    background-color: rgb(164, 196, 153);
}
.memberProgressBarUnitSurplus {
    background-color: rgb(196, 143, 133);
}
.memberProgressBarRemaining, .memberProgressBarBlank {
}
.memberAlternate1 .memberProgressBarRemaining, .memberAlternate1 .memberProgressBarBlank, .memberAlternate2 .memberProgressBarRemaining, .memberAlternate2 .memberProgressBarBlank, .memberProgressBarBlank, .memberProgressBarRemaining {
}
.gamePanelHome .membersList {
}
.gamePanelHome table.homeMembersTable {
    margin: 0;
    padding: 0;
    table-layout: fixed;
    text-align: center;
}
.gamePanelHome .homeMembersTable td {
    margin: 0;
    padding: 2px 0;
}
.enterBar {
}
.enterBar em {
    font-style: normal;
    font-weight: bold;
}
.enterBarJoin {
    float: right;
    text-align: right;
}
.enterBarOpen {
    float: left;
}
.archiveBar {
}
.archiveBar a {
    font-weight: normal !important;
}
.homeGameLinks {
    font-size: 12px;
}
.homeGameLinks a {
    font-size: 11px;
    margin: 0 4px;
}
.gamePanelHome {
    font-size: 11px;
}
.memberVotePanel {
    border-top: 1px solid rgb(206, 206, 206) !important;
    padding: 0 5%;
}

.buttonIA {
	font-size: 12px;
	margin-right: 2px;
}
