
body {
    background: url("../images/bg.jpg") no-repeat fixed center top rgb(220, 190, 164);
    color: rgb(45, 44, 46);
    font-family: sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
div.content-title-header {
    border-bottom:#bbb 1px solid !important;
}
div.pageTitle, .boardHeader .gameName {
    font-size: 18px !important;
    font-weight: bold !important;
    text-shadow: 1px 1px 1px rgb(153, 153, 153);
}
div.pageTitle {
    color: rgb(71, 44, 18);
    font-size: 16pt;
    font-weight: bold;
    padding: 4px 20px;
}
div.pageDescription {
    border-top: 1px solid rgb(204, 204, 204);
    color: rgb(102, 102, 102);
    font-style: italic;
    padding: 4px 20px;
}
.messageFromMe {
    font-style: italic;
}
span.logon {
    font-size: 11px;
}
span.points {
    white-space: nowrap;
}
input[type="text"], input[type="submit"], input[type="password"], textarea, select, .buttonIA, #orderLineIA {
    border: 1px solid rgb(193, 193, 193);
    color: rgb(0, 102, 153);
    font-size: 14px;
}
textarea {
    font-family: sans-serif;
    font-size: 16px !important;
    width: 90%;
}
div.hr, div.hrthin {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color rgb(170, 170, 170);
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    height: 0;
    margin: 10px auto;
    width: 80%;
}
div.postboxadvice {
    color: rgb(119, 119, 119);
    font-size: 13px;
    font-style: italic;
    text-align: center;
}
div.hr {
}
div.clear {
    border-bottom: 0 none;
}
h1, h2, h3, h4 {
    color: rgb(71, 44, 18);
    margin-bottom: 5px;
}
h2 {
    font-size: 18px;
}
h3 {
    margin-left: 10px;
}
img {
    border: 0 none;
}
p.profileComment {
    font-size: 12px;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
img.center {
    text-align: center;
}
h2.black {
    color: rgb(0, 0, 0);
}
span.gamename {
    color: rgb(0, 153, 2);
    font-size: 15px;
    font-weight: bold;
}
ul.gamemain {
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
}
ul.gamesublist {
    color: rgb(119, 119, 119);
    font-size: 13px;
    font-weight: normal;
}
div.rightHalf {
    border-left: 1px solid rgb(170, 170, 170);
    float: right;
    margin-bottom: 0;
    padding-left: 10px;
    padding-top: 0;
    width: 50%;
}
div.leftHalf {
    width: 50%;
}
ul.todolist {
    color: rgb(119, 119, 119);
    margin-left: 20px;
}
ul.formlist {
    list-style: outside none none;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
}
li {
    margin-bottom: 5px;
}
li.formlisttitle {
    font-weight: bold;
}

.spaced-button {
    margin-left: 1em;
    margin-right: 1em;
}

.form-submit {
    color: rgb(0, 102, 153) !important;
    font-weight: bold !important;
}
li.formlistfield {
    list-style: outside none none;
    margin: 5px 20px 10px;
}
li.formlistdesc {
    border-left: 1px solid rgb(170, 170, 170);
    color: rgb(119, 119, 119);
    font-weight: normal;
    list-style: outside none none;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
}
li.playerdetails {
    margin-left: 60px;
}
.intro {
    font-size: 16px;
}
li.introheader {
    font-weight: bold;
    list-style: outside none none;
    margin-top: 20px;
}
li.introexplain {
    color: rgb(85, 85, 85);
    font-weight: normal;
    list-style: outside none none;
    margin-left: 20px;
    margin-right: 20px;
}
li.introexplainsupport {
    color: rgb(85, 85, 85);
    font-weight: normal;
    list-style: outside none none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
li.introimages {
    list-style: outside none none;
    margin-top: 10px;
    text-align: center;
}
strong {
    font-weight: bold;
}
strong.description {
    color: rgb(119, 119, 119);
    font-style: italic;
    font-weight: bold;
    margin-left: 40px;
}
p.notice {
    font-weight: bold;
    margin: 0;
    text-align: center;
}
p.welcome {
    margin-left: 20px;
    margin-right: 20px;
}
p.question {
    font-weight: bold;
    margin-bottom: 10px;
}
p.answer {
    margin: 0 20px 20px;
}
p.smallindent {
    color: rgb(119, 119, 119);
    font-size: 13px;
    margin-left: 40px;
}
p.orders {
    margin: 0 20px;
}
p.code {
    font-family: courier;
    font-size: 12px;
    margin-left: 40px;
}
p.lightgrey {
    color: rgb(119, 119, 119);
    font-size: 13px;
    font-style: italic;
    text-align: center;
}
a {
    font-weight: bold;
    text-decoration: underline;
}
a:link {
    color: rgb(109, 82, 56);
}
a:visited {
    color: rgb(109, 82, 56);
}
a:active {
    color: rgb(109, 82, 56);
}
a:hover {
    color: rgb(64, 32, 32) !important;
}
a.light {
    font-weight: normal;
    text-decoration: none !important;
}
#mapstore {
    margin: 0 auto;
    text-align: center;
}
#header {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    text-align: left;
    width: auto;
}
#header-container {
    background: url("../images/content_bg.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    height: 50px;
    margin: 0 auto;
    padding: 6px 10px 4px;
    width: 780px;
}
#logo {
    border: 0 none;
    margin: 0;
    padding: 0;
    position: absolute;
    vertical-align: middle;
}
#header-welcome {
    font-style: italic;
    margin: 0;
    padding: 0;
    text-align: right;
}
#header-welcome a {
    font-weight: normal !important;
    text-decoration: none !important;
}
#header-goto {
    clear: right;
    margin: 18px 0 0;
    padding: 0;
    text-align: right;
}
#header-goto a {
    margin-left: 14px;
}
#header-goto a.current {
    color: rgb(0, 0, 0);
}
#header-goto a.current:hover {
    color: rgb(0, 153, 2);
}
#seperator {
    background-color: rgb(102, 102, 102);
    font-size: 0;
    height: 5px;
    margin: 0 0 5px;
    padding: 0;
    width: auto;
}
#seperator-fixed {
    background-color: rgb(102, 102, 102);
    font-size: 0;
    height: 5px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60px;
    width: 800px;
}
div.content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 15px 0;
    position: relative;
    text-align: left;
    width: 750px;
}
div.content-bare {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: left;
    width: 770px;
}
div.content-notice {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 8px 15px;
    position: relative;
    text-align: left;
    width: 768px;
}
div.content-board-header, div.content-home-header {
    border-bottom: 0 none;
    margin-top: 6px;
}
div.content-board-header {
}
div.content-follow-on {
    border-top: 0 none !important;
    margin-top: 0 !important;
}
div.content-home-header {
}
div.content-home-updates {
}
.content-slotBottom {
    border: 1px solid rgb(170, 170, 170);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 0 24px;
    position: relative;
    width: 750px;
}
.content-slot {
    border-top: 0 none;
    margin-top: 0;
}
#content-publicforum {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 710px;
}
div.forum {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 710px;
}
#footer {
    background: url("../images/footer_bg.png") no-repeat scroll center -50px rgba(0, 0, 0, 0);
    color: rgb(119, 119, 119);
    font-size: 11px;
    margin-top: 0;
    padding-top: 5px;
    text-align: center;
}
#chatboxtabs {
    font-size: 11px !important;
}
div.gamelistings-tabs {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color rgb(170, 170, 170);
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    font-size: 13px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 3px;
    padding-top: 3px;
    text-align: center;
    width: auto;
}
div.gamelistings-tabs a.current {
    background-color: rgb(234, 234, 234);
    border-bottom: 2px solid rgb(0, 0, 0) !important;
    border-left: 1px solid rgb(136, 136, 136);
    border-right: 1px solid rgb(136, 136, 136);
    border-top: 1px solid rgb(136, 136, 136);
    color: rgb(0, 0, 0);
    text-decoration: none;
}
div.gamelistings-tabs a.current:hover {
    background-color: rgb(229, 229, 229);
    border-bottom: 2px solid rgb(0, 153, 2) !important;
    color: rgb(0, 153, 2) !important;
    text-decoration: none;
}
div.gamelistings-tabs a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: rgb(250, 250, 250);
    border-bottom: 2px solid rgb(0, 102, 153) !important;
    border-image: none;
    border-left: 1px solid rgb(170, 170, 170);
    border-right: 1px solid rgb(170, 170, 170);
    border-top: 1px solid rgb(170, 170, 170);
    margin: 0 5px;
    padding: 3px 6px;
    text-decoration: none;
    white-space: nowrap;
}
div#chatboxtabs a {
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px 4px;
}
div.gamelistings-tabs a div.gamelistings-tabs a:hover {
    background-color: rgb(245, 245, 245);
    border-color: rgb(0, 153, 2) !important;
    border-style: solid !important;
    border-width: 1px 1px 2px !important;
    text-decoration: none;
}
.postbox {
    text-align: center;
}
.thread {
    color: rgb(102, 102, 102);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px;
    width: auto;
}
.threadborder1 {
    border: 1px solid rgb(209, 209, 209);
}
.threadborder2 {
    border: 1px solid rgb(206, 206, 206);
}
.threadalternate1 {
    background-color: rgb(245, 245, 245);
}
.threadalternate2 {
    background-color: rgb(240, 240, 240);
}
.replyborder1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color rgb(193, 193, 193) rgb(193, 193, 193);
    border-image: none;
    border-right: 1px solid rgb(193, 193, 193);
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.replyborder1 .first {
    border-top: 1px solid rgb(193, 193, 193);
}
.replyborder2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color rgb(190, 190, 190) rgb(190, 190, 190);
    border-image: none;
    border-right: 1px solid rgb(190, 190, 190);
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.replyalternate1 {
    background-color: rgb(234, 234, 234);
}
.replyalternate2 {
    background-color: rgb(229, 229, 229);
}
.message-head {
    float: right;
    font-size: 13px;
    margin-left: 5px;
    padding-left: 5px;
    text-align: right;
}
.leftRule {
    border-left: 1px solid rgb(170, 170, 170);
}
.bottomRule {
}
.message-subject {
    color: rgb(82, 66, 52);
    font-size: 15px;
    overflow: hidden;
}
.message-body {
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 5px 10px;
}
.message-foot-notification {
    float: right;
    font-size: 14px;
    text-align: right;
}
.message-foot {
}
form {
    margin: 0;
}
.reply {
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 630px;
}
.reply-top {
    border-top: 1px solid rgb(193, 193, 193);
    margin-top: 5px;
}
.content-game {
    margin-left: 10px;
}
.Global {
    color: rgb(206, 120, 0) !important;
}
.Austria {
    color: rgb(214, 41, 41) !important;
}
.Germany {
    color: rgb(139, 72, 26) !important;
}
.England {
    color: rgb(221, 81, 189) !important;
}
.Italy {
    color: rgb(37, 153, 1) !important;
}
.France {
    color: rgb(0, 123, 165) !important;
}
.Turkey {
    color: rgb(184, 173, 0) !important;
}
.Russia {
    color: rgb(111, 0, 93) !important;
}
div.chatbox {
    border-bottom: 1px solid rgb(193, 193, 193);
    border-left: 1px solid rgb(193, 193, 193);
    border-right: 1px solid rgb(193, 193, 193);
    max-height: 180px;
    overflow-x: hidden;
    overflow-y: auto;
}
div.chatbox td {
    overflow: hidden;
}
div.chatboxnotabs {
    border-top: 1px solid rgb(170, 170, 170);
}
.chatboxMembersList {
    font-size: 12px;
    text-align: center;
}
TABLE {
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
}
div.datc table {
    border: 1px solid rgb(170, 170, 170);
}
div.datc th, .datc td {
    border-right: 1px solid rgb(170, 170, 170);
}
div.datc th {
    border-bottom: 1px solid rgb(170, 170, 170);
    border-top: 1px solid rgb(170, 170, 170);
    font-size: 16px;
    padding: 3px 5px;
    text-align: center;
    text-decoration: underline;
}
TABLE.credits {
    border: 1px solid rgb(170, 170, 170);
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
TABLE.orders {
    border: 1px solid rgb(193, 193, 193);
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 95%;
}
TD {
    padding: 5px;
}
TD.left {
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    width: 15%;
}
td.notice {
    font-weight: bold;
    text-align: center;
}
td.send {
    vertical-align: middle;
    width: 14% !important;
}
TD.time {
    border-right: 1px solid rgb(170, 170, 170);
    vertical-align: bottom;
    width: 14% !important;
}
TR.header {
    border-bottom: 1px solid rgb(170, 170, 170);
}
TD.uniticon {
    text-align: right;
    width: 6%;
}
TD.center {
    text-align: center;
}
TD.fleet, div.fleet {
    color: rgb(11, 11, 135);
}
TD.army, div.army {
    color: rgb(52, 135, 11);
}
span.orderNotice {
    font-weight: bold;
}
.likeMessageToggleLink, .likeCount {
    font-size: 8pt;
    font-style: italic;
}
div#centerc {
    background: url("../images/content_bg.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    margin: -5px auto 0;
    min-height: 300px;
    width: 800px;
}
div#adblock {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 728px;
}
iframe#tosbox {
    border: 1px solid rgb(0, 0, 0);
    margin: 10px 25px;
    width: 700px;
}
