
.homeNoticesPMs {
    width: 60%;
}
.homeNoticesGame {
    margin-left: 5px;
    width: auto;
}
.homeInfoList {
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgb(193, 193, 193);
    float: right;
    font-size: 14px;
    font-style: italic;
    padding-bottom: 15px;
    padding-left: 10px;
    text-align: right;
}
.homeInfoList h4 {
    font-size: 14px;
    font-style: normal;
    margin: 0 0 5px;
}
.homeInfoList strong {
    font-style: normal;
}
a.current {
    color: rgb(0, 0, 0) !important;
}
div.homeUserContent {
    margin-top: 15px;
}
table.homeTable p.notice {
    padding: 5px;
}
.homeTable div.hr {
    margin-bottom: 4px;
    margin-top: 4px;
}
table.homeTable {
}
table.homeTable td, table.homeTable a {
    overflow: hidden;
}
table.homeTable tr {
    vertical-align: top;
}
td.homeNoticesPMs textarea, td.homeNoticesGame textarea {
    font-size: 14px !important;
}
td.homeMessages, td.homeGameNotices, td.homeGamesStats, td.homeNoticesPMs, td.homeNoticesGame {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    margin: 1px;
    padding: 0 !important;
}
table.homeTable td.homeSplit {
    border: 0 none !important;
}
td.homeMessages {
    max-width: 250px;
    width: 250px;
}
td.homeGameNotices {
    max-width: 240px;
    width: 240px;
}
td.homeGamesStats {
    width: 284px;
}
td.homeSplit {
    border: 0 none;
    margin: 0;
    padding: 0;
    width: 5px;
}
div.homeHeader {
    color: rgb(82, 66, 52);
    font-size: 16px;
    font-weight: bold;
    padding-top: 3px;
    text-align: center;
}
.homeForumGroup {
    font-size: 12px;
}
.homeForumSubject, .homeForumLink {
    padding: 4px 2%;
}
.homeForumTopBorder {
    border-top: 1px solid rgb(206, 206, 206);
}
.homeForumSubject {
    color: rgb(82, 66, 52);
    font-weight: bold;
    white-space: nowrap;
}
td.homeGameNotices .homeForumSubject {
    width: 250px;
}
.homeForumAlt1 {
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid rgb(209, 209, 209);
}
.homeForumAlt2 {
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(206, 206, 206);
}
.homeForumPost {
    padding: 4px 2%;
}
.homeForumPostAlt1, .gamePanelHome {
    background-color: rgb(234, 234, 234);
}
.homeForumPostAlt2 {
    background-color: rgb(229, 229, 229);
}
.homeForumPostTime {
    border-left: 1px solid rgb(170, 170, 170);
    color: rgb(102, 102, 102);
    float: right;
    font-style: italic;
    padding-left: 3px;
    text-align: right;
    text-decoration: underline;
}
.homeForumLink {
}
.homeForumReplies {
    color: rgb(102, 102, 102);
    float: right;
    font-style: italic;
    text-align: right;
}
.homeNoActivity {
}
.homeForumReplies {
    text-align: center;
}
.homeForumMessage {
    color: rgb(57, 56, 58);
}
