@CHARSET "ISO-8859-1";

.variantAtlanticColonies .country0 { color: #CE7800 ! important; } /* Global   */
.variantAtlanticColonies .country1 { color: #e7a144 ! important; } /* France   */
.variantAtlanticColonies .country2 { color: #b1b063 ! important; } /* Spain    */
.variantAtlanticColonies .country3 { color: #efb2a1 ! important; } /* England  */
.variantAtlanticColonies .country4 { color: #f5d376 ! important; } /* Portugal */

.variantAtlanticColonies .occupationBar1 { background-color: #e7a144; } /* France   */
.variantAtlanticColonies .occupationBar2 { background-color: #b1b063; } /* Spain    */
.variantAtlanticColonies .occupationBar3 { background-color: #efb2a1; } /* England  */
.variantAtlanticColonies .occupationBar4 { background-color: #f5d376; } /* Portugal */